# Versions managed by scripts/versionsync.py - edit scripts/versions.json to change
pin-depends: [
  # [versionsync: PYTECODE_COMMIT_HASH=60af24539c7814edf1dc8c9fd91014361a49ecc3]
  ["pytecode.~dev" "git+https://github.com/soteria-tools/pytecode#60af24539c7814edf1dc8c9fd91014361a49ecc3"]
]
